


<style type="text/css">
h1
{
text-align: center;
text-transform: uppercase;
color: #A7C942;
}

p
{
text-indent: 0px;
text-align:left;
color: #666666;
font-family:"Times New Roman", Times, serif
}

a
{

color: #666666;
}

</style>